{% extends "base.html" %}

{% block content %}
<main class="flex flex-col items-center py-20">
    <img src="{{ url_for('static', filename='img/favicon.svg') }}" alt="Логотип" class="mx-auto size-100">
    <h1 class="text-5xl font-bold text-center">Шышульбук</h1>
    <p class="text-lg text-center mt-5">Инструмент для управления учебным процессом</p>
    <a href="#"
       class="bg-white mt-15 px-8 py-4 rounded-full text-black text-lg hover:bg-gray-200 transition-colors duration-150">Перейти
        к школе</a>
</main>
{% endblock %}