<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index-o.css">
    <link rel="icon" href="../static/icons/favicon.svg" type="image/svg+xml">
    <title>Шышульбук</title>
</head>

<body class="bg-neutral-800 *:px-12 text-white font-montserrat">
    <header
        class="flex sticky h-15 mt-5 mx-10 bg-neutral-900/40 justify-between items-center border border-white/20 rounded-full backdrop-blur-2xl">
        <a href="#"
            class="flex items-center gap-3 mr-auto hover:bg-neutral-700/40 transition-colors duration-100 rounded-full px-4 py-2">
            <span class="material-symbols-outlined">school</span>
            <span>Школа</span>
        </a>
        <nav
            class="flex gap-5 mx-auto *:hover:bg-neutral-700/40 *:transition-colors *:duration-100 *:rounded-full *:px-4 *:py-2">
            <a href="#">Дневник</a>
            <a href="#">Главная</a>
            <a href="#">Замены</a>
        </nav>
        <a href="#"
            class="flex items-center gap-3 ml-auto hover:bg-neutral-700/40 transition-colors duration-100 rounded-full px-4 py-2">
            <span>Профиль</span>
            <span class="material-symbols-outlined">account_circle</span>
        </a>
    </header>
    <main>

    </main>
</body>

</html>